
body {
  background-color: rgb(8, 44, 8);
  zoom: 90%;

}



#board {
  width: 1070px;
  height: 1000px;
  border: 2px solid white;
  background-color: black;
  position: relative;
left: 550px;
text-align:center;
z-index: -2;
}

#walker {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 20px;
  right: 30px;
  top: 200px;
  border-color:white;


  outline-style: dotted;

  outline-width: 10px;
  outline: white;


}

#chaser {
  background-color: red;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 10px;
  left: 30px;
  top: 200px;

  outline-style: dotted;

  outline-width: 5px;
  outline-color: white;
  
  


}

#gamemode {
  position:absolute;
  left:155px;
  top: 400px;
  font-size:60px;
  width: 800px;
  height: 60px;
  text-align:center;

}

h1 {
  color: rgb(0, 0, 0);
  -webkit-text-stroke-color: rgb(108, 108, 108);
  -webkit-text-stroke-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

#cscore {
  float:left;
  content : "X";
}

#wscore {
  float:right;
  content : "X";
}

#msg {
  text-align:center;
  content : "X";
}

#timer {
  text-align:center;
  top: 50px;
  content : "X";
}






#emp {
  text-align: center;
  top:150px;
  font-size: large;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(75, 78, 118);
  
}

#hearts {
  text-align: center;
  top:200px;
  font-size:x-large;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: red
  
}

#subboard {
  text-align:center;
}

#botSetup {
  position:absolute;
left:410px;
top: 250px;
font-size:60px;
width: 360px;
height: 60px;



}


#playerSetup {
position:absolute;
  left:370px;
  font-size:60px;
  top: 570px;
  text-align:center;
  width: 360px;
  height: 60px;
}


#playerBox {
  background-color: rgb(99, 98, 98);
  width: 360px;
  height: 60px;
  position: absolute;
  border-radius: 10px;
  left: 0px;
  top: 10px;
  opacity: 20%;
z-index: -1;

  
  


}

#botBox {
  background-color: rgb(99, 98, 98);
  width: 310px;
  height: 60px;
  position: absolute;
  border-radius: 10px;
  left: 25px;
  top: 10px;
  opacity: 20%;
z-index: -1;

  
  


}


